* { 
	box-sizing: border-box; 
	font-family: $font-stack;
	line-height:1.4;
}

p {
	margin: 20px 0;
}

.bg-gray {
	background-color:$light-grey;
}

.align-right {
	text-align:right;
}

.align-center {
	text-align:center;
}

a, .link{
	color: $ot-indigo;
	cursor: pointer;
}

.text-large {
	font-size:26px;
}

.blurred{
	filter: blur(3px);
}

.btn {
	display: inline-block;
	align-items: center;
	background-color: #2E3D98;
	line-height: 3rem;
	padding: 0 2rem;
	color: #FFFFFF;
	text-decoration: none;
	transition: all 100ms;
	border: 0;
	cursor: pointer;
	outline: none;

	&:hover {
		opacity:0.8;
	}
}

