input, 
select,
textarea {
    padding: 0.5rem;
    margin: 0 0 .5rem 0;
    border: 1px solid rgba(126, 146, 159, 0.5);
    box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.13);
    background-color: $light-grey;
    box-shadow:none;
    border-radius:10px;
    font-size:14px;

    &:focus {
        outline: none !important;
        border:1px solid $ot-indigo;
        box-shadow: 0 0 10px $light-grey;
        box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.13);
    }

    &:not([type="checkbox"]):not([type="radio"]) {
        -webkit-appearance: none;
        -moz-appearance:    none;
        appearance:         none;
    }
}

select {
    padding-right:30px;
    background-image: url('./assets/img/select-chevron.png');
    background-size:auto 6px;
    background-repeat:no-repeat;
    background-position: right center;
}

.form-el{
	display:flex;
	justify-content: space-between;
    margin-bottom: 1em;

	label{
		display:block;
	}
	.sublabel{
		display:block;
	}

    input[type="checkbox"] {
        min-width: 20px;
        height: 20px;
        display: block;
        margin: 5px;
    }

    &.inline {
        display:flex!important;

        label, input {
            display:inline-block;
        }
    }
}