.calculator-container {
	max-width:1200px;

	.tabs {
		ul {
			padding: 0;
			margin: 0;

			@include tablet {
				border-top:1px solid $light-med-grey;
				border-bottom:1px solid $light-med-grey;
			}

			li {
				display:inline-block;
				padding:5px 10px;
				margin:0 0 5px;
				border: 2px solid $med-grey;
				border-radius:0.5em;

				&:first-of-type {
					margin-left:0;
				}

				@include tablet {
					margin:0 5px;
					padding: 10px 5px;
					border: none;
					border-radius: 0;
					border-bottom: 4px solid transparent;
				}

				&.active{
					border-color:$ot-indigo;
					color: $ot-indigo;

					@include tablet {
						color: $body-text;
					}
				}

				span {
					padding:2px;
				}
			}
		}
	}
}

.calculator-input-container {
	display:flex;
	flex-wrap: wrap;

	> div {
	  @include tablet {
		  flex-grow: 1;
		  flex-shrink: 1;
		  flex-basis: 0;
	  }
	  @include phablet {
	    display:inline-block;
	    width:100%;
	  }
	}
}


.calculator-input {
	.input-column {
		// gets used for layout changes before and after calculating

		@include desktop {
			&.two-columns {
				width:50%;
				float:left;

				&.first {
					padding-right:40px;
				}
			}
		}

	}

	margin:20px 0;

	label {
		color:$ot-indigo;
		//font-weight:600;
	}

	.sublabel {
		font-size:13px;
	}

	input {
		width:100%;
		display:block;
	}

	hr {
		margin:30px 0;
		border-color: $light-med-grey;
		box-shadow: none;
		border-style: solid;
		border-width: 1px;
		height:0px;
		color:#fff;
	}
}


.calculator-output {
	padding: 1rem;
	margin-bottom:20px;
	:after{
		content:'';
		display:block;
		clear:both;
	}

	.row {
		display:block;
		padding:10px;

		&.border-bottom {
			border-bottom:1px solid $light-med-grey;
		}

		h3 {
			margin:0;
			font-size:14px;

			@include tablet {
				font-size:18px;
			}
		}

		.col-header {
			margin-bottom:10px;
			h3 {
				font-size:16px;
			}
		}

		label {
			font-size:14px;
		}

		>.col-summary {
			width:100%;
			float:left;
			text-align:center;

			label {
				color:$ot-indigo;
				font-size:16px;
				margin-bottom: 5px;
				display: block;
			}

			@include tablet {
				width: 50%;
				text-align:left;
			}
		}
		>.col-res{
			width:50%;
			display:block;
			float:left;
			text-align:center;

			@include tablet {
				width: 25%;
				text-align:right;
			}

			.value {
				font-size:16px;
				font-weight:bold;
				color:$ot-light-blue;

				@include tablet {
					font-size:20px;
				}
			}
		}
	}
}

.chart-container {
	overflow:scroll;

	&--inner {
	   min-width:400px;
	}
	
	#savingsChart {
		width:100%;
	}

	.mario-chart-xaxis-label {
		font-weight:bold;
	}

}

.assumptions{
	margin-bottom:20px;

	h4 {
		margin:5px 0;
	}
}