//headline and input area
.magellan-input {
    width: 100%;
    margin-bottom: 1.5rem;

    @include tablet {
        width: calc(50% - 1rem);
        margin-bottom: 0;
    }

    @include laptop {
        width: calc(70% - 1rem);
    }

    &__header {
        font-size: 2.75rem;
        line-height: 3rem;
        margin: 0 0 1.5rem 0;
        color: $headline;
        -webkit-font-smoothing: antialiased;
    }

    &__introduction {
        font-size: 1rem;
        margin: 0 0 1.5rem 0;
        line-height: 1.5rem;
        color: $body-text;
    }

    &__textarea {
        width: 100%;
        height: 12rem;
    }

    &__button {
        display: inline-block;
        align-items: center;
        background-color: $primary-button;
        height: 3rem;
        line-height: 3rem;
        padding: 0 3rem 0 1.5rem;
        color: #FFFFFF;
        background-image: url('./assets/img/chevron.svg');
        background-position: right 1.5rem center;
        background-repeat: no-repeat;
        text-decoration: none;
        transition: all 300ms;
        border: 0;

        &:hover {
            background-color: lighten($primary-button, 10%);
            background-position: right 1rem center;
        }

        &:active {
            background-color: darken($primary-button, 10%);
        }

    }

}

//learn more callout
.callout {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: $callout-bg;
    box-shadow: -1px 2px 8px rgba(0, 0, 0, 0.19);

    @include tablet {
        width: calc(50% - 1rem);

    }

    @include laptop {
        width: calc(30% - 1rem);

    }

    &__image {
        background-color: #FFFFFF;
        margin: 0 0 1.5rem 0;
    }

    &__heading {
        font-size: 1.25rem;
        color: $headline;
        padding: 0 1.5rem 0 1.5rem;
        margin: 0;
    }

    &__description {
        font-size: 1rem;
        line-height: 1.5rem;
        color: $body-text;
        margin-top: 0;
        margin-bottom: auto;
        padding: 24px;
    }

    &__button {
        font-size: 1rem;
        width: 100%;
        background: rgba(0,0,0,0.05);
        line-height: 3rem;
        height: 3rem;
        color: $hyperlink;
        display: block;
        padding: 0 1.5rem 0 1.5rem;
        font-weight: $font-bold;
        text-decoration: none;

        &:hover {
            background-color: rgba(0,0,0,0.08);
        }
    }

}