.main-nav {
    display: flex;
    height: 100%;

    &__item {
        font-size: 0.875rem;
        display: flex;
        color: #FFFFFF;
        text-decoration: none;
        align-items: center;
        border-bottom: 6px solid transparent;
        transition: all 300ms;
        margin-right: 1rem;
    
        &:last-child {
            margin-right:0;
            

            @include tablet {
               // margin-right: 1.5rem;
            }
        }

        &--is-selected {
            border-bottom: 6px solid $main-nav-accent;
        }

        &:hover {
            color: $main-nav-accent;
        }

        @include tablet {
            font-size: 1rem;
        }
    }
}