<template>
  <div class="calculator-container">
    <div :class="[{'blurred': showGate}]">
      <div class="tabs">
        <ul>
          <li @click="tab = 'PD'" :class="{active: tab == 'PD'}">
            <span>Privacy Dashboards</span>
          </li>
          <li @click="tab = 'SM'" :class="{active: tab == 'SM'}">
            <span>Smart Migrations</span>
          </li>
          <li @click="tab = 'PC'" :class="{active: tab == 'PC'}">
            <span>Processing Correspondence</span>
          </li>
        </ul>
      </div>

      <div class="info">
        <p>Fill in the values for the three fields below for your lab.  Value will be calculated using typical assumptions. If you want to view or change the assumptions, click <span class="link" @click="showAssumptions = !showAssumptions">here to show/hide assumptions.</span></p>
      </div>

      <div class="calculator-input-container">

        <div class="calculator-input">

          <div class="assumptions" v-show="showAssumptions">
            <h4>Assumptions</h4>

            <div v-show="tab != 'PD'" class="form-el">
              <div class="col-half">
                <label>Work hours per year</label>
                <span class="sublabel">(Default 1875)</span>
              </div>
              <div class="col-half">  
                <input type="number" v-model="yrHrs">
              </div>
            </div>

            <div class="form-el">
              <div class="col-half">
                <label>Loaded KW FTE Salary</label>
                <span class="sublabel">(Default $65,000)</span>
              </div>
              <div class="col-half">
                <input 
                  v-model="fteSal_str"
                  v-currency="{locale, currency}"
                  >
              </div>
            </div>

            <div v-show="tab == 'SM'" class="form-el">
              <div class="col-half">
                <label>Cost of Managing RW RB per year</label>
                <span class="sublabel">(Default $2,500)</span>
              </div>
              <div class="col-half">
                <input
                  v-model="manRwTb_str"
                  v-currency="{locale, currency}"
                >
              </div>
            </div>

            <div v-show="tab == 'PC'" class="form-el">
              <div class="col-half">
                <label>Est. time to receive correspondence</label>
                <span class="sublabel">(Default 2 minutes)</span>
              </div>
              <div class="col-half">
                <input type="number" v-model="coorTime">
              </div>
            </div>

            <div v-show="tab == 'PC'" class="form-el">
              <div class="col-half">
                <label>Est. time for review and route of mail</label>
                <span class="sublabel">(Default 3 minutes)</span>
              </div>
              <div class="col-half">
                <input type="number" v-model="mailRevTime">
              </div>
            </div>

            <hr>

          </div>

          <div :class="['input-column', 'first', {'two-columns' : !hasCalculated}]">

            <div class="form-el">
              <div class="col-half">
                <label>Is the company public or private?</label>
                <span class="sublabel">Select from drop-down</span>
              </div>
              <div class="col-half">
                <select v-model="companyType">
                  <option>Private</option>
                  <option>Public</option>
                </select>
              </div>
            </div>

            <div class="form-el">
              <div class="col-half">
                <label>Is the company regulated/unregulated?</label>
                <span class="sublabel">Select from drop-down</span>
              </div>
              <div class="col-half">
                <select v-model="companyRegulated">
                  <option>Regulated</option>
                  <option>Unregulated</option>
                </select>
              </div>
            </div>

            <div class="form-el">
              <div class="col-half">
                <label>Does the company handle customer data?</label>
                <span class="sublabel">Select from drop-down</span>
              </div>
              <div class="col-half">
                <select v-model="handlesCustData">
                  <option>Yes</option>
                  <option>No</option>
                </select>
              </div>
            </div>

          </div>

          <div :class="['input-column', {'two-columns' : !hasCalculated}]">

            <div class="form-el">
              <div class="col-half">
                <label>Annual Revenue</label>
                <span class="sublabel">(Default 100 Million)</span>
              </div>
              <div class="col-half">
                <input 
                  v-model="annRevenue_str" 
                  v-currency="{locale, currency}"
                >
              </div>
            </div>

            <div class="form-el ">
              <div class="col-half">
                <label>Number of Employees</label>
                <span class="sublabel">(Default 5000)</span>
              </div>
              <div class="col-half">
                <input type="number" v-model="numEmployees">
              </div>
            </div>

            <div class="form-el">
              <div class="col-half">
                <label>Number of Customers</label>
                <span class="sublabel">(Default 20000)</span>
              </div>
              <div class="col-half">
                <input type="number" v-model="numCustomers">
              </div>
            </div>

            <div class="form-el">
              <div class="col-half">
                <label>Percentage of Knowledge Workers</label>
                <span class="sublabel">(Default 20%)</span>
              </div>
              <div class="col-half">
                <input type="number" v-model="percentKnowledgeWorkers">
              </div>
            </div>
          </div>

          <div v-if="!hasCalculated" >
            <button class="btn" @click="calculate">Calculate</button>
            <!-- <button class="btn" @click="reset">Start Over</button> -->
          </div>

          <div v-else-if="shareLink">
            <a class="btn" :href="shareLink">Share Link</a>
          </div>

        </div>

        <div 
          v-show="hasCalculated"
          class="chart-container"
          >
          <div class="chart-container--inner">
            <div id="savingsChart"></div>
          </div>
        </div>
      </div>

      <div 
        v-show="hasCalculated" 
        class="calculator-output bg-gray"
        >
        <div class="">
          <div class="row">
            <div class="col-summary col-header">
              <div>
                <h3>POTENTIAL BENEFITS ANAYLSIS</h3>
              </div>
            </div>
            <div class="col-res">
              <div>
                <h3>Conservative Estimate</h3>
              </div>
            </div>
            <div class="col-res">
              <div>
                <h3>Likely Estimate</h3>
              </div>
            </div>
          </div>

          <div v-show="tab == 'PD'">
            <div class="row border-bottom">
              <div class="col-summary">
                <div>
                  <label>Search and selection effort reduction</label>
                </div>
              </div>
              <div class="col-res">
                <div>
                  <span class="value" v-html="formatNum(pdSsC)"></span>
                </div>
              </div>
              <div class="col-res">
                <div>
                  <span class="value" v-html="formatNum(pdSsL)"></span>
                </div>
              </div>
            </div>

            <div v-show="tab == 'PD'" class="row border-bottom">
              <div class="col-summary">
                <div>
                  <label>Visualization effort reduction</label>
                </div>
              </div>
              <div class="col-res">
                <div>
                  <span class="value" v-html="formatNum(pdVisC)"></span>
                </div>
              </div>
              <div class="col-res">
                <div>
                  <span class="value" v-html="formatNum(pdVisL)"></span>
                </div>
              </div>
            </div>

            <div v-show="tab == 'PD'" class="row border-bottom">
              <div class="col-summary">
                <div>
                  <label>Increased discovery accuracy</label>
                </div>
              </div>
              <div class="col-res">
                <div>
                  <span class="value" v-html="formatNum(pdDiscoaccC)"></span>
                </div>
              </div>
              <div class="col-res">
                <div>
                  <span class="value" v-html="formatNum(pdDiscoaccL)"></span>
                </div>
              </div>
            </div>

            <div v-show="tab == 'PD'" class="row border-bottom">
              <div class="col-summary">
                <div>
                  <label>Risk reduction</label>
                </div>
              </div>
              <div class="col-res">
                <div>
                  <span class="value" v-html="formatNum(pdRrC)"></span>
                </div>
              </div>
              <div class="col-res">
                <div>
                  <span class="value" v-html="formatNum(pdRrL)"></span>
                </div>
              </div>
            </div>

          </div> <!-- end of PD -->

          <div v-show="tab == 'SM'">
            <div class="row border-bottom">
              <div class="col-summary">
                <div>
                  <label>Search, discovery and selection effort reduction</label>
                </div>
              </div>
              <div class="col-res">
                <div>
                  <span class="value" v-html="formatNum(smReddsC)"></span>
                </div>
              </div>
              <div class="col-res">
                <div>
                  <span class="value" v-html="formatNum(smReddsL)"></span>
                </div>
              </div>
            </div>

            <div class="row border-bottom">
              <div class="col-summary">
                <div>
                  <label>Elimination of redundant content</label>
                </div>
              </div>
              <div class="col-res">
                <div>
                  <span class="value" v-html="formatNum(smElredContC)"></span>
                </div>
              </div>
              <div class="col-res">
                <div>
                  <span class="value" v-html="formatNum(smElredContL)"></span>
                </div>
              </div>
            </div>

            <div class="row border-bottom">
              <div class="col-summary">
                <div>
                  <label>Better, faster reports for planning</label>
                </div>
              </div>
              <div class="col-res">
                <div>
                  <span class="value" v-html="formatNum(smBfrC)"></span>
                </div>
              </div>
              <div class="col-res">
                <div>
                  <span class="value" v-html="formatNum(smBfrL)"></span>
                </div>
              </div>
            </div>

          </div> <!-- end of SM -->

          <div v-show="tab == 'PC'">
            <div class="row border-bottom">
              <div class="col-summary">
                <div>
                  <label>Ingest processing effort reduction (scanned mail)</label>
                </div>
              </div>
              <div class="col-res">
                <div>
                  <span class="value" v-html="formatNum(iperC)"></span>
                </div>
              </div>
              <div class="col-res">
                <div>
                  <span class="value" v-html="formatNum(iperL)"></span>
                </div>
              </div>
            </div>

            <div class="row border-bottom">
              <div class="col-summary">
                <div>
                  <label>Review and routing time reduction (scanned mail)</label>
                </div>
              </div>
              <div class="col-res">
                <div>
                  <span class="value" v-html="formatNum(rrtrC)"></span>
                </div>
              </div>
              <div class="col-res">
                <div>
                  <span class="value" v-html="formatNum(rrtrL)"></span>
                </div>
              </div>
            </div>

            <div class="row border-bottom">
              <div class="col-summary">
                <div>
                  <label>Elec. correspondance ingest, review and route reduction</label>
                </div>
              </div>
              <div class="col-res">
                <div>
                  <span class="value" v-html="formatNum(elcrrrC)"></span>
                </div>
              </div>
              <div class="col-res">
                <div>
                  <span class="value" v-html="formatNum(elcrrrL)"></span>
                </div>
              </div>
            </div>


            <div class="row border-bottom">
              <div class="col-summary">
                <div>
                  <label>Re-work reduction</label>
                </div>
              </div>
              <div class="col-res">
                <div>
                  <span class="value" v-html="formatNum(rwrC)"></span>
                </div>
              </div>
              <div class="col-res">
                <div>
                  <span class="value" v-html="formatNum(rwrL)"></span>
                </div>
              </div>
            </div>

          </div> <!-- end of PC -->


          <div class="row">
            <div class="col-summary">
              <div>
                <h3>TOTAL ESTIMATED BENEFIT</h3>
              </div>
            </div>
            <div class="col-res">
              <div>
                <span class="value" v-html="formatNum(totalCons)"></span>
              </div>
            </div>
            <div class="col-res">
              <div>
                <span class="value" v-html="formatNum(totalLikely)"></span>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
      <div v-show="showGate">
       <GateModal @hideGate="hideGate" />
     </div>
  </div>
</template>

<script>

import ApexCharts from 'apexcharts';
import GateModal from '@/components/GateModal.vue'

export default {

  data () {
    return {
      loaded: false,
      hasCalculated: false,
      showGate: false,
      shareLink: '',

      locale: 'en',
      currency: 'USD',

      tab: 'PD',
      chart: null,

      showAssumptions: false,

      companyType: 'Public',
      companyRegulated: 'Regulated',
      handlesCustData: 'Yes',

      // assumptions editable
      yrHrs: 1875,
      fteSal_str: '$65,000', // to be string val for currency input
      manRwTb_str: '$2,500',
      coorTime: 2,
      mailRevTime: 3,

      // assumptions non editable
      totalBizMailUSA: 84000000000,
      totalEmploymentUSA: 127000000,
      elecCoorWk: 2.5, //% of week for elec correspondance

      // input defaults
      annRevenue_str: '$100,000,000',  // Annual Revenue
      numEmployees: 5000,              // Number of Employees
      numCustomers: 20000,             // Number of Customers
      percentKnowledgeWorkers: 20,     // Percentage of Knowledge workers

      // benchmark precentages
      infoSearch: 16,         // time spent searching for info
      searchGather: 20,       // work week spent search and gathering info
      consoAnaly: 10,         // time spent cosolodating and analyizing info
      reducAutoWf: 17.2,      // less time after automation doc workflows
      reducLostDocs: 12.5,    // time reduced for lost/misfiled docs
      reducPostDigAuto: 51.6, // errors reduced after digitization, automation
      unstrData: 80,          // global data that is unstructured
      taskAutoFutr: 50,       // tasks automated by 2024
      kwAiFutr: 20,           // KW using AI by 2024
      aiDescWf: 31.4,         // respondants that use AI for decisions in workflows
      wkHrsCollab: 28,        // hours spend each week by KW for email search & collaboration
      dataPerEmp: (15000000000/(22500*5))/5000*0.8, // 21.33,       // estimated total stored data per employee (TB)(80 % unstructured)

      aiImprCons: 20,         // OT AI driven assumption conservative 
      aiImprLikely: 40        // OT AI driven assumption likely
    }
  },

  components: {
    GateModal
  },

  computed: {

    fteSal() {
      return this.$parseCurrency(this.fteSal_str, this.locale);
    },

    manRwTb() {
      return this.$parseCurrency(this.manRwTb_str, this.locale);
    },

    annRevenue() {
      return this.$parseCurrency(this.annRevenue_str, this.locale);
    },

    // quarterly reporting effort per KW
    qRepEfKW() {
      return 4*7*8*(this.fteSal / this.yrHrs);
    }, 

    mailEmplAnn() {
      return this.totalBizMailUSA / this.totalEmploymentUSA;
    },

    // search and selection effort reduction
    pdSsC() { 
      return this.numEmployees * (this.percentKnowledgeWorkers / 100) * this.fteSal * (this.searchGather / 100) * (this.aiImprCons / 100);
    },
    pdSsL() {
      return this.numEmployees * (this.percentKnowledgeWorkers / 100) * this.fteSal * (this.searchGather / 100) * (this.aiImprLikely / 100);
    },

    // visualization effort reduction
    pdVisC() {
      return this.numEmployees * (this.percentKnowledgeWorkers / 100) * (this.consoAnaly / 100) * this.fteSal * (this.aiImprCons / 100);
    },
    pdVisL() {
      return this.numEmployees * (this.percentKnowledgeWorkers / 100) * (this.consoAnaly / 100) * this.fteSal * (this.aiImprLikely / 100);
    },

    // increased discovery accuracy
    pdDiscoaccC() {
      return this.numEmployees * (this.percentKnowledgeWorkers / 100) * this.fteSal * (this.reducLostDocs / 100) * (this.infoSearch / 100) * (this.aiImprCons / 100);
    },
    pdDiscoaccL() {
      return this.numEmployees * (this.percentKnowledgeWorkers / 100) * this.fteSal * (this.reducLostDocs / 100) * (this.infoSearch / 100) * (this.aiImprLikely / 100);
    },

    // risk reduction
    pdRrC() {
      return this.numEmployees * (this.percentKnowledgeWorkers / 100) * this.fteSal * (this.reducPostDigAuto / 100) * (this.aiDescWf / 100) * (this.aiImprCons / 100);
    },
    pdRrL() {
      return this.numEmployees * (this.percentKnowledgeWorkers / 100) * this.fteSal * (this.reducPostDigAuto / 100) * (this.aiDescWf / 100) * (this.aiImprLikely / 100);
    },


    // Smart Migration

    // search, discovery and selection effort reduction
    smReddsC() {
      return this.numEmployees * (this.percentKnowledgeWorkers / 100) * this.dataPerEmp * this.manRwTb * (this.aiImprCons / 100) * (this.searchGather / 100);
    },
    smReddsL() {
      return this.numEmployees * (this.percentKnowledgeWorkers / 100) * this.dataPerEmp * this.manRwTb * (this.aiImprLikely / 100) * (this.searchGather / 100);
    },

    // elimination of redundant content
    smElredContC() {
      return this.numEmployees * (this.percentKnowledgeWorkers / 100) * this.dataPerEmp * this.manRwTb * (this.aiImprCons / 100) * (this.consoAnaly / 100);
    },
    smElredContL() {
      return this.numEmployees * (this.percentKnowledgeWorkers / 100) * this.dataPerEmp * this.manRwTb * (this.aiImprLikely / 100) * (this.consoAnaly / 100);
    },

    // better, faster reports for planning
    smBfrC() {
      return this.numEmployees * (this.percentKnowledgeWorkers / 100) * this.qRepEfKW * (this.aiImprCons / 100);
    },
    smBfrL() {
      return this.numEmployees * (this.percentKnowledgeWorkers / 100) * this.qRepEfKW * (this.aiImprLikely / 100);
    },


    // Processing Correspondence

    // Ingest processing effort reduction (scanned mail)
    iperC() {
      return this.numEmployees * this.mailEmplAnn * this.coorTime / 60 * this.fteSal / this.yrHrs * (this.aiImprCons / 100);
    },
    iperL() {
      return this.numEmployees * this.mailEmplAnn * this.coorTime / 60 * this.fteSal / this.yrHrs * (this.aiImprLikely / 100);
    },

    // Review and routing time reduction (scanned mail)
    rrtrC() {
      return this.numEmployees * this.mailEmplAnn * this.mailRevTime / 60 * this.fteSal / this.yrHrs * (this.aiImprCons / 100);
    },
    rrtrL() {
      return this.numEmployees * this.mailEmplAnn * this.mailRevTime / 60 * this.fteSal / this.yrHrs * (this.aiImprLikely / 100);
    },

    // Elec. correspondance ingest, review and route reduction
    elcrrrC() {
      return this.numEmployees * (this.percentKnowledgeWorkers / 100) * this.wkHrsCollab * (this.fteSal / this.yrHrs * 250) * (this.elecCoorWk / 100) * (this.aiImprCons / 100);
    },
    elcrrrL() {
      return this.numEmployees * (this.percentKnowledgeWorkers / 100) * this.wkHrsCollab * (this.fteSal / this.yrHrs * 250) * (this.elecCoorWk / 100) * (this.aiImprLikely / 100);
    },

    // Re-work reduction
    rwrC() {
      return (this.iperC + this.rrtrC + this.elcrrrC) * (this.reducLostDocs / 100) * (this.aiImprCons / 100);
    },
    rwrL() {
      return (this.iperL + this.rrtrL + this.elcrrrL) * (this.reducLostDocs / 100) * (this.aiImprLikely / 100);
    },



    // totals
    totalCons() {
      if (this.tab == 'PD') {
        return this.pdSsC + this.pdVisC + this.pdDiscoaccC + this.pdRrC;
      }

      if (this.tab == 'SM') {
        return this.smReddsC + this.smElredContC + this.smBfrC;
      }

      if (this.tab == 'PC') {
        return this.iperC + this.rrtrC + this.elcrrrC + this.rwrC;
      }

      return 0;
    },
    totalLikely() {
      if (this.tab == 'PD') {
        return this.pdSsL + this.pdVisL + this.pdDiscoaccL + this.pdRrL;
      } 

      if (this.tab == 'SM') {
        return this.smReddsL + this.smElredContL + this.smBfrL;
      }

      if (this.tab == 'PC') {
        return this.iperL + this.rrtrL + this.elcrrrL + this.rwrL;
      }

      return 0;
    },

    ceArr() {
      if (this.tab == 'PD') {
        return [
          this.pdSsC,
          this.pdVisC,
          this.pdDiscoaccC,
          this.pdRrC,
          this.totalCons
        ];
      }

      if (this.tab == 'SM') {
        return [
          this.smReddsC,
          this.smElredContC,
          this.smBfrC,
          this.totalCons
        ];
      }

      if (this.tab == 'PC') {
        return [
          this.iperC,
          this.rrtrC,
          this.elcrrrC,
          this.rwrC,
          this.totalCons,
        ];
      }
      return []
    },

    leArr() {
      if (this.tab == 'PD') {
        return [
          this.pdSsL,
          this.pdVisL,
          this.pdDiscoaccL,
          this.pdRrL,
          this.totalLikely,
        ];
      }

      if (this.tab == 'SM') {
        return [
          this.smReddsL,
          this.smElredContL,
          this.smBfrL,
          this.totalLikely,
        ];
      }

      if (this.tab == 'PC') {
        return [
          this.iperL,
          this.rrtrL,
          this.elcrrrL,
          this.rwrL,
          this.totalLikely,
        ]
      }
      return []
    },

    graphCategories() {
      if (this.tab == 'PD') {
        return  [
                  'Search and selection effort reduction',
                  'Visualizations effort reduction',
                  'Increased discovery accuracy',
                  'Risk reduction',
                  'TOTAL ESTIMATE'
                ];
      }

      if (this.tab == 'SM') {
        return  [
                  'Search, discovery and selection effort reduction',
                  'Elimination of redundant content',
                  'Better, faster reports for planning',
                  'TOTAL ESTIMATE'
                ];
      }

      if (this.tab == 'PC') {
        return  [
                  'Ingest processing effort reduction (scanned mail)',
                  'Review and routing time reduction (scanned mail)',
                  'Elec. correspondance ingest, review and route reduction',
                  'Re-work reduction',
                  'TOTAL ESTIMATE'
                ];
      }
      return []
    },
  },

  methods: {

    hideGate() {
      this.showGate = false
    },

    formatNum(num) {
      num = Math.round(num);
      return `$${num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")}`;
    },

    createChart() {
      var options = {
        colors: ['#09BCEF', '#007b7d'],
          chart: {
              height: 530,
              type: 'bar',
              toolbar: {
              show: false
            },
          },
          plotOptions: {
              bar: {
                  dataLabels: {
                  position: 'top',
              },
            }  
          },
          dataLabels: {
              enabled: false,
              offsetX: 6,
              style: {
                  fontSize: '16px',
                  colors: ['#555']
              }
          },  
          series: [{
              name: 'Conservative Estimate',
              data: this.ceArr,
          },{
              name: 'Likely Estimate',
              data: this.leArr,
          }],
          xaxis: {
              categories: this.graphCategories,
              labels: {
                trim: true,
                maxHeight: 150,
                rotate: -20,
                style: {
                  cssClass: 'mario-chart-xaxis-label',
                  fontSize: '10px',
                  colors: '#2E3D98',
                },
              },
              axisTicks: {
                show: false
              }
          },
          yaxis: {
            tickAmount: 7,
            labels: {
              show: true,
              align: 'right',
              minWidth: 0,
              maxWidth: 160,
              style: {
                  fontSize: '12px',
                  fontFamily: 'Helvetica, Arial, sans-serif',
                  cssClass: 'apexcharts-yaxis-label',
              },
              offsetX: 0,
              offsetY: 0,
              rotate: 0,
              formatter: ((value) => {
                return this.formatNum(value);
              })
            },
          },
         grid: {
          row: {
            colors: ['#fff', '#f2f2f2']
          }
        },
        fill: {
          type: 'gradient',
          gradient: {
            shade: 'light',
            type: "horizontal",
            shadeIntensity: 0.05,
            gradientToColors: undefined,
            inverseColors: true,
            opacityFrom: 0.85,
            opacityTo: 0.85,
            stops: [50, 0, 100]
          },
        },
      }
  
      this.chart = new ApexCharts(
        document.querySelector("#savingsChart"),
        options
      );

      this.chart.render();
    },

    calculate() {
      if (!this.hasCalculated) {
        this.showGate = true;
      }
      this.hasCalculated = true;
    },

    reset() {
      this.hasCalculated = false;
    },

    getShareLink() {
      let str = window.location.protocol+'//'+window.location.host+window.location.pathname+'?showCalculated=1'
      const paramList = ['yrHrs', 'fteSal_str', 'manRwTb_str', 'coorTime', 'mailRevTime', 'companyType', 'companyRegulated', 'handlesCustData', 'annRevenue_str', 'numEmployees', 'numCustomers', 'percentKnowledgeWorkers']
      for (var i = 0; i < paramList.length; i++) {
        str+='&'+paramList[i]+'='+this[paramList[i]]
      }
      this.shareLink = str
    },

    populateFromUrlParams() {
      // detect url params and set vals
      let vars = {};
      window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
        vars[key] = value;
      });

      for (var prop in vars) {
        if (vars.hasOwnProperty(prop)) {
          if (this[prop] !== 'undefined' && (typeof vars[prop] == 'string' || typeof vars[prop] === 'number')) {
            this[prop] = vars[prop];
          }
        }
      }
      // if showCalculated is in query string, show calculated result
      if (vars.showCalculated) {
        this.hasCalculated = true
      }
    }
  },

  mounted() {
    window.addEventListener("load", () => {
      this.loaded = true;
    });

    // needs slight delay
    setTimeout(() => {
      this.populateFromUrlParams()
    }, 50)

    this.getShareLink()

    const inputs = document.getElementsByTagName('input')
    inputs.forEach((el) => {
      el.addEventListener("input", () => {
        this.getShareLink()
      });
    });
    const selects = document.getElementsByTagName('select')
    selects.forEach((el) => {
      el.addEventListener("change", () => {
        this.getShareLink()
      });
    });
  },

  updated() {
    if (this.chart) {
      this.chart.updateSeries(
        [{
          name: 'Conservative Estimate',
          data: this.ceArr,
        },{
          name: 'Likely Estimate',
          data: this.leArr,
        }]
      );
    }
  },

  watch: {
    loaded() {
      if (this.loaded) {
        this.createChart();
      } 
    },

    tab() {
      if (this.chart) {
        this.chart.destroy();
        this.createChart();
      }
    },

    percentKnowledgeWorkers(newVal, oldVal) {
      if (newVal > 100) {
        this.percentKnowledgeWorkers = oldVal;
      }
    }
  }
}
</script>

<style scoped lang="scss">
  .calculator-container {
    max-width: 1200px;
    margin: 0 auto;
    z-index: 2001;
    position: relative;
  }
</style>
