<template>
  <div>
    <div id="app" class="ar-ot-calc">
      <Calculators />
    </div>
  </div>  
</template>

<script>
import Calculators from './components/Calculators.vue'

export default {
  name: 'app',
  components: {
    Calculators
  }
}
</script>

<style lang="scss">
  @import "src/assets/scss/main.scss";
</style>
